<a href="https://colab.research.google.com/github/arexdevson/Metrics/blob/main/Churn_Classification_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#caminho : G:\Meu Drive\Registros\Geral\B.I\Churn Classification Model\archive

In [ ]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [ ]:
dataset = pd.read_csv('/content/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [ ]:
dataset.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
dataset.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [ ]:
#dropamos o costumer id pq é somente um identificador

In [ ]:
dataset.drop(axis=1,columns=['customerID'],inplace=True)
dataset

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [ ]:
dataset.info()

#aqui temos que ter atenção porque as colunas estão como object, objeto do python e não estão com formato adequado

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [ ]:
#sem valores nulos no dataset

In [ ]:
#Precisamos ajustar as categorias de dados de churn para 1 ou 0, ou seja, sim ou não
dataset['Churn'].replace({'Yes':1,'No':0},inplace=True)

In [ ]:
dataset

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,0
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,0
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,0
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,0
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,1
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,0

In [ ]:
#segunda parte é ajustar a coluna de total charges para o formato numerico

dataset['TotalCharges'] = pd.to_numeric(dataset['TotalCharges'],errors = 'coerce')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   int64
dtypes: float64(2), int64(3), object(15)
memory usage: 1.1+ MB

In [ ]:
#verificando se há algum valor null ou nan no dataset em alguma (any) coluna, se eu usasse all ele só olharia todas as colunas de uma vez
dataset.isnull().any().sum()

1

In [ ]:
dataset.isnull().all().sum()

0

In [ ]:
#vai olhar as linhas e dropar a que tem o valor nulo
dataset.dropna(axis=0,inplace=True)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   object
 1   SeniorCitizen     7032 non-null   int64
 2   Partner           7032 non-null   object
 3   Dependents        7032 non-null   object
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   object
 6   MultipleLines     7032 non-null   object
 7   InternetService   7032 non-null   object
 8   OnlineSecurity    7032 non-null   object
 9   OnlineBackup      7032 non-null   object
 10  DeviceProtection  7032 non-null   object
 11  TechSupport       7032 non-null   object
 12  StreamingTV       7032 non-null   object
 13  StreamingMovies   7032 non-null   object
 14  Contract          7032 non-null   object
 15  PaperlessBilling  7032 non-null   object
 16  PaymentMethod     7032 non-null   object
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7032 non-null   int64
dtypes: float64(2), int64(3), object(15)
memory usage: 1.1+ MB

In [ ]:
#dados estatisticos gerais
dataset[['tenure','MonthlyCharges']].describe()

            tenure  MonthlyCharges
count  7032.000000     7032.000000
mean     32.421786       64.798208
std      24.545260       30.085974
min       1.000000       18.250000
25%       9.000000       35.587500
50%      29.000000       70.350000
75%      55.000000       89.862500
max      72.000000      118.750000

In [ ]:
#correlação
dataset.corr()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn
SeniorCitizen,1.000000,0.015683,0.219874,0.102411,0.150541
tenure,0.015683,1.000000,0.246862,0.825880,-0.354049
MonthlyCharges,0.219874,0.246862,1.000000,0.651065,0.192858
TotalCharges,0.102411,0.825880,0.651065,1.000000,-0.199484
Churn,0.150541,-0.354049,0.192858,-0.199484,1.000000

In [ ]:
#transformando todas as colunas de categoria em features numericas para incluir no modelo
dataset = pd.get_dummies(dataset)
dataset = dataset.reset_index()

In [ ]:
dataset.drop(axis=1,columns=['index'],inplace=True)
dataset

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,29.85,29.85,0,1,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
1,0,34,56.95,1889.50,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,1
2,0,2,53.85,108.15,1,0,1,1,0,1,...,0,1,0,0,0,1,0,0,0,1
3,0,45,42.30,1840.75,0,0,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
4,0,2,70.70,151.65,1,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,24,84.80,1990.50,0,0,1,0,1,0,...,1,0,1,0,0,1,0,0,0,1
7028,0,72,103.20,7362.90,0,1,0,0,1,0,...,1,0,1,0,0,1,0,1,0,0
7029,0,11,29.60,346.45,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
7030,1,4,74.40,306.60,1,0,1,0,1,1,...,0,1,0,0,0,1,0,0,0,1
7031,0,66,105.65,6844.50,0,0,1,1,0,1,...,1,0,0,1,0,1,1,0,0,0

In [ ]:
#SEPARANDO DADOS PARA O MODELO DE CLASSIFICAÇÃO
x = dataset.drop('Churn',axis=1)
y = dataset['Churn']

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [ ]:
model_eval = pd.DataFrame(index=['RandomForest'],columns=['Score'])

In [ ]:
#startando os modelos de classificação / regressão

In [ ]:
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
ypred = rf.predict(x_test)

In [ ]:
LG = LogisticRegression()
LG.fit(x_train,y_train)
ypred2 = LG.predict(x_test)

In [ ]:
XG = XGBClassifier()
XG.fit(x_train,y_train)
ypred3 = XG.predict(x_test)

In [ ]:
#alocando resultados em dataset

In [ ]:
#index random, na coluna score ele colocou o score da random forest no df criado acima
#index logistic regression, na coluna score ele colocou o score do modelo
model_eval.loc['RandomForest','Score'] = accuracy_score(ypred,y_test)
model_eval.loc['LogisticRegression','Score'] = accuracy_score(ypred2,y_test)
model_eval.loc['XGB','Score'] = accuracy_score(ypred3,y_test)
model_eval.reset_index(inplace=True)

In [ ]:
model_eval

                       Score
RandomForest        0.802048
LogisticRegression  0.811718
XGB                 0.817406

In [ ]:
#importancia de cada coluna para a análise da classificação
importance = rf.feature_importances_

array([0.02057473, 0.14307297, 0.1397341 , 0.15935525, 0.01749861,
       0.0178101 , 0.01432267, 0.01523154, 0.01174162, 0.01214548,
       0.00290226, 0.00293145, 0.01315563, 0.0025    , 0.01344155,
       0.01300428, 0.02654877, 0.00263295, 0.02717089, 0.00251313,
       0.0123051 , 0.01779888, 0.00195089, 0.01284245, 0.01524182,
       0.00305472, 0.01203508, 0.02604771, 0.0011417 , 0.01128265,
       0.01133732, 0.00304383, 0.01108332, 0.01208798, 0.00151122,
       0.01151443, 0.05562395, 0.01051489, 0.01662092, 0.01462589,
       0.01471433, 0.01284125, 0.01340714, 0.02751259, 0.01157194])

In [ ]:
weights = pd.DataFrame(rf.feature_importances_,index=x.columns.values,columns=['Features']).sort_values(by='Features',ascending=False).reset_index()

In [ ]:
weights

                                      index  Features
0                              TotalCharges  0.159355
1                                    tenure  0.143073
2                            MonthlyCharges  0.139734
3                   Contract_Month-to-month  0.055624
4            PaymentMethod_Electronic check  0.027513
5                         OnlineSecurity_No  0.027171
6               InternetService_Fiber optic  0.026549
7                            TechSupport_No  0.026048
8                             SeniorCitizen  0.020575
9                               gender_Male  0.017810
10                          OnlineBackup_No  0.017799
11                            gender_Female  0.017499
12                        Contract_Two year  0.016621
13                      DeviceProtection_No  0.015242
14                              Partner_Yes  0.015232
15                     PaperlessBilling_Yes  0.014714
16                      PaperlessBilling_No  0.014626
17                               Partner_No  0.014323
18                        MultipleLines_Yes  0.013442
19    PaymentMethod_Credit card (automatic)  0.013407
20                         MultipleLines_No  0.013156
21                      InternetService_DSL  0.013004
22                         OnlineBackup_Yes  0.012842
23  PaymentMethod_Bank transfer (automatic)  0.012841
24                       OnlineSecurity_Yes  0.012305
25                           Dependents_Yes  0.012145
26                       StreamingMovies_No  0.012088
27                     DeviceProtection_Yes  0.012035
28                            Dependents_No  0.011742
29               PaymentMethod_Mailed check  0.011572
30                      StreamingMovies_Yes  0.011514
31                           StreamingTV_No  0.011337
32                          TechSupport_Yes  0.011283
33                          StreamingTV_Yes  0.011083
34                        Contract_One year  0.010515
35     DeviceProtection_No internet service  0.003055
36          StreamingTV_No internet service  0.003044
37                         PhoneService_Yes  0.002931
38                          PhoneService_No  0.002902
39                       InternetService_No  0.002633
40       OnlineSecurity_No internet service  0.002513
41           MultipleLines_No phone service  0.002500
42         OnlineBackup_No internet service  0.001951
43      StreamingMovies_No internet service  0.001511
44          TechSupport_No internet service  0.001142